:root {
    font-size: 18px;
}
body {
    background: #fcfcfc;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
div.container {
    width: 45%;
    margin: 4em auto;
}
h1 {
    margin-bottom: 1.5em;
}
div.option {
    margin-top: 2.5em;
}
div.checkbox-wrapper {
    display: flex;
    align-items: center;
}
div.btn-wrapper {
    margin-top: 2.5em;
    text-align: center;
}
button {
    cursor: pointer;
}